@import url(//db.onlinewebfonts.com/c/bd9805cba4fdbd10e6f9d097dab9225f?family=Chalkduster);
#head {
    display: flex;
    justify-content: space-between;
    background-color:black;
    width: auto;
    height: auto;
}
h1 {
    font-family: Chalkduster;
    color:whitesmoke;
    text-shadow: 2px 2px 5px whitesmoke;
}
h1:hover {
    text-shadow: 10px 10px 10px whitesmoke,
    0 0 7px whitesmoke,
    0 0 10px whitesmoke,
    0 0 21px whitesmoke,
    0 0 42px whitesmoke,
    0 0 82px whitesmoke,
    0 0 92px whitesmoke,
    0 0 102px whitesmoke,
    0 0 151px whitesmoke;
}

#searchBar {
    border-radius: 24px;
    width: 50%;
}


.containsCarouselb {
    z-index: -1;
    opacity: 0.30;
    position: fixed;
    height: 100%;
}
.containsCarousela {
    z-index: -1;
    position: fixed;
    height: 100%;
}
body {
    background-color: black;
}
.newHomePage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vw;
}
.enterbutton {
    background-color: black;
    color:whitesmoke;
    border-color: black;
    font-family: Chalkduster;
}

/* div {
    display: block;
} */

#gameList {    
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 40%);
    color: whitesmoke;
}

.border {
    border-radius: 25px;
    color: black;
    width:100%;
    max-width:450px;
    height: auto;
}

/* #infoGrid{
    display:grid;
    justify-content: center;
    
} */

.Bio {
    color: whitesmoke;
    padding: 2%;
}
.Justin {
    display: flex;
}
.Kayci {
    display: flex;
}
.Cayden {
    display: flex;
}
.nameInformation {
    padding-left: 2%;
}
.name {
    color: blue;
}
.name:hover {
    text-shadow: 10px 10px 10px blue,
    0 0 7px blue,
    0 0 10px blue,
    0 0 21px whitesmoke,
    0 0 42px blue,
    0 0 82px blue,
    0 0 92px blue,
    0 0 102px blue,
    0 0 151px blue;
}
.kayciName {
    display: flex;
    justify-content: flex-end;
    color: blue;
}
.kayciName:hover {
    text-shadow: 10px 10px 10px blue,
    0 0 7px blue,
    0 0 10px blue,
    0 0 21px whitesmoke,
    0 0 42px blue,
    0 0 82px blue,
    0 0 92px blue,
    0 0 102px blue,
    0 0 151px blue;
}
.kayciNameInformation {
    padding-right: 2%;
    text-align:right;
}

#moreInfo {
    display: none;
}

#gameDisplay:hover #moreInfo {
    display:block;
    /* position: absolute; */
    z-index: 5;
    font-size:11px;
}
#giveAwayList {    
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    color: whitesmoke;
    width:100%;
}
.quote {
    color: whitesmoke;
}
.outerQuote {
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;
    text-align: right;
}
.author {
    color: blue;
}
.author:hover {
    text-shadow: 10px 10px 10px blue,
    0 0 7px blue,
    0 0 10px blue,
    0 0 21px whitesmoke,
    0 0 42px blue,
    0 0 82px blue,
    0 0 92px blue,
    0 0 102px blue,
    0 0 151px blue;
}
